.inicio{
    max-width: 950px;
    margin:0 auto;
    padding-left: 6%;
    padding-right: 6%;
}

.inicio h1, p{
    color: white;

}
.inicio h1{
    color: #E4EDED;
}
.inicio .foto{
    margin-top: 30px;
    border: none;
    border-radius: 100%;
    width: 200px;
    height: 100;
    border: rgb(60, 150, 254) 3px solid;
    box-shadow: 4px 4px 51px 4px rgb(32, 166, 255);
}
.inicio p{
    font-size: 21px;
    margin-bottom: 6px;
}
.inicio button{
    margin-top: 20px;
}

.inicio .nome-foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio .nome-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.trabalho img{
    margin-right: 20px;
    width: 60px;
    
}

.trabalho strong{
    color: white;
}

.trabalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.itens {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trabalho p{
    margin:0 auto;
    font-size: 14px;
}

.itens img{
    background: rgba(255, 255, 255, 0);
}

.button{
    display: flex;
}

.buttonsPerfil{
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(57, 137, 250);

}

.buttonsPerfil:hover{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(65, 171, 253);
    color: rgb(255, 247, 247);
}

.buttonsPerfil img{
    margin-right: 6px;
}

#primeiroButton{
    border: none;
    background-color: rgb(32, 125, 255);
    color: rgb(255, 250, 250);
}

#primeiroButton:hover{
    background-color: rgb(65, 171, 253);
    color: rgb(255, 255, 255);
}

#texto{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.iconesL img{
    margin-left: 10px;
    margin-bottom: 10px;
}
.experiencias{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.experiencias p{
    font-size: 20px;
}

.topo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #3a3a44;
    border-bottom: 2px solid #3a3a44;
    flex-wrap: wrap;
}

.topo .iconesL{
    margin-top: 20px;
}
