a {
    text-decoration: none;
    color: rgb(148 193 255);
}

.footer strong{
    color: white;
}

.footer{
    padding-top: 20px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 0px;
    border-top: 2px solid rgb(0, 118, 197);
    box-shadow: 2px 2px 10px 2px rgb(32, 166, 255);
    background-color: #080808;
    
}