*{
    padding: 0;
    margin: 0;
}

h2{
    color: white;
}
h4{
    color: rgb(146, 144, 144);
}

figure { 
    width: 80%; 
    min-width: 16.5em; 
    margin:0 auto;
    max-width: 800px;

    }
.boxVideo {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;
    margin-bottom: 20px;
    
}
.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

object{
    max-width: 1000px;
}

#academico{
    margin-top: 30px;
}

.trabalhos{
    margin-top: 30px;
}