*{
    margin: 0;
    padding: 0;
}

h1, a, span{
    color: rgb(255, 255, 255);
}

.container {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;

}
.card {
    width: 430px;
    height: 250px;
    border: 3px solid rgb(0, 0, 0);
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: stretch;

}

.card a{
    text-decoration: none;
}

.card h1{
    font-size: 16px;
    padding: 8px;
}

.card .rodapeProjeto {
    border-top: 4px solid rgb(40, 0, 169);
    background-color: rgba(0, 7, 28, 0.943);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.card:hover{
    border: 3px solid rgba(43, 114, 200, 0.489);
}

.rodapeCard > p{
    font-weight:100;
    font-size: 15px;
}
