* {
    font-family: Segoe UI;
}

body {
    margin: 0;
    color: #FFF;
}

.nameProject{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 26px;
    width: 100%;
}


.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #444; */
}

.card {
    border-radius: 16px;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    cursor: pointer;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#41ABFD, #00427593);
    transition: all .5s;
    margin-bottom: 30px;
}

.card:hover {
    background-image: linear-gradient(#41ABFD, #07002c);
}

.card .img {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
}

.card:hover .img {
    width: 600px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content {
    height: auto;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 20px;
    font-weight: 600;
}

.card .content .desc {
    font-size: 20px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}


/* * Media query para telas pequenas */ 
@media only screen and (max-width: 768px) {
    .card {
        width: 70%; /* Aumenta a largura para se ajustar à tela */
        height: auto; /* Ajusta a altura automaticamente */
        margin: 10px auto; /* Centraliza os cartões e ajusta a margem */
    }

    .card h1 {
        font-size: 26px; /* Reduz o tamanho da fonte para caber melhor em telas menores */
        padding: 8px;
    }

    .card .rodapeProjeto {
        height: 60px; /* Ajusta a altura do rodapé */
        padding: 8px;
    }


}