.App {
  text-align: center;
}
body{
  background-color: #232027;
}
button{
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-left:40px;
  padding-right: 40px;
  background-color: #3188EB;
  box-shadow: 4px 4px 30px 4px rgba(0, 145, 255, 0.369);
}

a, button{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 149, 255);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid rgb(1, 15, 98);  /* creates padding around scroll thumb */
}