@import "tailwindcss";

@theme {
  --color-vscode-bg: #0D1117;
  --color-vscode-panel: #161B22;
  --color-vscode-card: #1E293B;
  --color-vscode-border: #30363D;
  --color-vscode-text: #C9D1D9;
  --color-vscode-blue: #58A6FF;
  --color-vscode-green: #238636;
  --color-vscode-purple: #BC8CFF;
  --color-vscode-yellow: #D2A8FF;
}

@layer base {

  body {
    @apply bg-vscode-bg text-vscode-text font-sans antialiased overflow-hidden h-screen w-screen selection:bg-vscode-blue/30;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #30363D;
    border: 2px solid #0D1117;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}